
<div class="jumbotron">
	<div class="modal-body">
	  <h1>Welcome to PlayPay!</h1>
	  <p>This is a simple system to play paying friends. Start with a small balance of $100 and play making transfers.</p>
	</div>
</div>
